Repository ChainSafe/ssz, changes with the labels that .github/labeler.yml gives for each.
All labels: as-sha256, persistent-merkle-tree, persistent-ts, ssz, CI

.github/labeler.yml:

as-sha256:
  - packages/as-sha256/**/*

persistent-merkle-tree:
  - packages/persistent-merkle-tree/**/*

persistent-ts:
  - packages/persistent-ts/**/*

ssz:
  - packages/ssz/**/*

CI:
  - .github/**/*

Migrate the packages and lock files
  lerna.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Labels: none

Use bun to run pnpm
  .github/workflows/test.yml
Labels: CI

Remove yarn references form .gitignore
  .github/.dependabot.yml
  .github/workflows/test.yml
  .gitignore
  .yarnrc.yml
  packages/as-sha256/.gitignore
  packages/ssz/.gitignore
Labels: as-sha256, ssz, CI

Use bun to run pnpm
  .github/workflows/test.yml
Labels: CI

Update deno config to run tests
  .github/workflows/test.yml
Labels: CI

Update the bun config
  .github/workflows/test.yml
Labels: CI

Update deno test config
  .github/workflows/test.yml
Labels: CI

Update all usage of yarn to pnpm
  .github/workflows/benchmark.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
  packages/as-sha256/README.md
Labels: as-sha256, CI

Update the test usage of not defined deps
  packages/persistent-merkle-tree/test/utils/expectHex.ts
Labels: persistent-merkle-tree

Add dev dependency for a workspace package
  packages/ssz/package.json
  pnpm-lock.yaml
Labels: ssz

Update all the mono-repo references for dependencies
  packages/as-sha256/package.json
  packages/persistent-merkle-tree/package.json
  packages/ssz/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: as-sha256, persistent-merkle-tree, ssz

Update deno test config
  .github/workflows/test.yml
Labels: CI

Update pnpm to latest version
  package.json
Labels: none

Update the benchmark startup script
  package.json
Labels: none

Add deps for the root scripts
  package.json
  pnpm-lock.yaml
Labels: none

Update dep for @chainsafe/hashtree
  packages/persistent-merkle-tree/package.json
  yarn.lock
Labels: persistent-merkle-tree

chore: update dep for @chainsafe/hashtree (#498)
  packages/persistent-merkle-tree/package.json
  yarn.lock
Labels: persistent-merkle-tree

fix: optimize duplicate writing in leafnode creation (#493)
  packages/persistent-merkle-tree/src/packedNode.ts
Labels: persistent-merkle-tree

Fix formatting
  packages/persistent-merkle-tree/src/packedNode.ts
Labels: persistent-merkle-tree

Use uint32 instead int32 for leaf nodes
  packages/persistent-merkle-tree/src/packedNode.ts
Labels: persistent-merkle-tree

Rename variables to clarify execution
  packages/persistent-merkle-tree/src/packedNode.ts
Labels: persistent-merkle-tree

Optimize the pre-init lead node values to
  packages/persistent-merkle-tree/src/packedNode.ts
Labels: persistent-merkle-tree

Lint the code
  packages/persistent-merkle-tree/src/packedNode.ts
Labels: persistent-merkle-tree

Use the original int32 to get values from the view
  packages/persistent-merkle-tree/src/packedNode.ts
Labels: persistent-merkle-tree

Remove debug logs
  packages/persistent-merkle-tree/src/packedNode.ts
Labels: persistent-merkle-tree

Move ci options to config file
  .github/workflows/release.yml
  release-please-config.json
Labels: CI

Update the change log types
  release-please-config.json
Labels: none

chore: release nh/fix-ci
  .release-please-manifest.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/persistent-ts/CHANGELOG.md
  packages/persistent-ts/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: persistent-merkle-tree, persistent-ts, ssz

chore: release master (#500)
  .github/workflows/release.yml
  .release-please-manifest.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/persistent-ts/CHANGELOG.md
  packages/persistent-ts/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
  release-please-config.json
Labels: persistent-merkle-tree, persistent-ts, ssz, CI

chore: release master
  .release-please-manifest.json
  packages/persistent-ts/CHANGELOG.md
  packages/persistent-ts/package.json
Labels: persistent-ts
