Repository ChainSafe/ssz, pull requests merged in 2022-04, with the labels that each got.

#250 Test empty ByteListType
  packages/ssz/test/unit/byType/byteList/valid.test.ts
Labels: ssz

#253 Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI

#251 Bump spec tests
  packages/ssz/test/lodestarTypes/altair/sszTypes.ts
  packages/ssz/test/lodestarTypes/bellatrix/sszTypes.ts
  packages/ssz/test/specTestVersioning.ts
  packages/ssz/test/unit/byType/bitList/valid.test.ts
  packages/ssz/test/unit/byType/container/valid.test.ts
Labels: ssz

#255 Add and use a new helper to digest64 two 32 bytes
  packages/as-sha256/src/index.ts
  packages/as-sha256/test/unit/index.test.ts
  packages/ssz/src/util/merkleize.ts
  packages/ssz/src/util/zeros.ts
Labels: as-sha256, ssz

#258 Force usage of Uint8Array.prototype.slice
  packages/ssz/src/type/abstract.ts
  packages/ssz/src/type/bitList.ts
  packages/ssz/src/type/bitVector.ts
  packages/ssz/src/type/byteArray.ts
  packages/ssz/src/type/byteList.ts
  packages/ssz/src/type/byteVector.ts
  packages/ssz/src/value/bitArray.ts
  packages/ssz/test/perf/uintFromBytes.test.ts
  packages/ssz/test/spec/runValidTest.ts
  packages/ssz/test/unit/uint8Array.test.ts
Labels: ssz

#259 chore: publish
  packages/as-sha256/CHANGELOG.md
  packages/as-sha256/package.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: as-sha256, persistent-merkle-tree, ssz

#260 Update link to repo in fork-me banner
  packages/simpleserialize.com/src/components/ForkMe.tsx
Labels: simpleserialize.com

#262 Dockerize Simpleserialize
  simpleserialize.Dockerfile
Labels: simpleserialize.com
