Repository ChainSafe/ssz, pull requests merged in 2022-05, with the labels that each got.

#264 Docs and links update
  .github/FUNDING.yml
  packages/persistent-merkle-tree/test/unit/proof/util.test.ts
  packages/simpleserialize.com/README.md
  packages/simpleserialize.com/src/components/Footer.tsx
  packages/ssz/test/spec/testRunner.ts
Labels: documentation, persistent-merkle-tree, ssz, simpleserialize.com, CI

#267 update and publish simpleserialize.com
  packages/simpleserialize.com/CHANGELOG.md
  packages/simpleserialize.com/package.json
  yarn.lock
Labels: simpleserialize.com

#263 Add EF multiproof format
  packages/persistent-merkle-tree/src/proof/index.ts
  packages/persistent-merkle-tree/src/proof/multi.ts
  packages/persistent-merkle-tree/src/proof/single.ts
  packages/persistent-merkle-tree/src/proof/util.ts
  packages/persistent-merkle-tree/test/unit/proof/index.test.ts
  packages/persistent-merkle-tree/test/unit/proof/util.test.ts
Labels: persistent-merkle-tree

#268 Fix ListCompositeType.sliceTo(-1)
  packages/persistent-merkle-tree/src/tree.ts
  packages/ssz/src/viewDU/listComposite.ts
  packages/ssz/test/unit/byType/listComposite/tree.test.ts
Labels: persistent-merkle-tree, ssz

#269 Release ssz 0.9.2
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: persistent-merkle-tree, ssz
