Repository ChainSafe/ssz, pull requests merged in 2023-01, with the labels that each got.

#294 Deploy ssz repository to Cloudflare pages
  .github/workflows/cf-deploy.yaml
Labels: CI

#290 chore: yarn workspaces, release please
  .github/.dependabot.yml
  .github/workflows/benchmark.yml
  .github/workflows/cd.yml
  .github/workflows/cf-deploy.yaml
  .github/workflows/release.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/test.yml
  .gitignore
  .release-please-manifest.json
  .yarn/plugins/@yarnpkg/plugin-engines.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  lerna.json
  package.json
  packages/as-sha256/package.json
  packages/as-sha256/yarn.lock
  packages/persistent-merkle-tree/package.json
  packages/persistent-merkle-tree/yarn.lock
  packages/persistent-ts/package.json
  packages/persistent-ts/yarn.lock
  packages/simpleserialize.com/package.json
  packages/simpleserialize.com/yarn.lock
  packages/ssz/package.json
  packages/ssz/yarn.lock
  release-please-config.json
  simpleserialize.Dockerfile
  yarn.lock
Labels: as-sha256, persistent-merkle-tree, ssz, persistent-ts, simpleserialize.com, CI

#292 feat: compact multiproof
  packages/persistent-merkle-tree/src/proof/compactMulti.ts
  packages/persistent-merkle-tree/src/proof/index.ts
  packages/persistent-merkle-tree/test/perf/proof.test.ts
  packages/persistent-merkle-tree/test/unit/proof/compactMulti.test.ts
  packages/persistent-merkle-tree/test/unit/proof/index.test.ts
  packages/persistent-merkle-tree/test/utils/tree.ts
Labels: persistent-merkle-tree

#299 chore: use personal token for release-please
  .github/workflows/cd.yml
Labels: CI

#301 chore: allow cd to trigger workflow
  .github/workflows/cd.yml
Labels: CI

#303 chore: manual deploy to cloudflare pages
  .github/workflows/cd-manual.yml
Labels: CI

#304 chore: fix cloudflare pages build
  .github/workflows/cd-manual.yml
Labels: CI

#302 chore: release master
  .release-please-manifest.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
  yarn.lock
Labels: persistent-merkle-tree, ssz, autorelease: pending
