Repository ChainSafe/ssz, pull requests merged in 2024-10, with the labels that each got.

#400 feat: snapshot apis for EIP-4881
  packages/persistent-merkle-tree/src/index.ts
  packages/persistent-merkle-tree/src/snapshot.ts
  packages/persistent-merkle-tree/test/unit/snapshot.test.ts
  packages/ssz/package.json
  packages/ssz/src/index.ts
  packages/ssz/src/type/partialListComposite.ts
  packages/ssz/src/util/snapshot.ts
  packages/ssz/src/util/types.ts
  packages/ssz/src/view/arrayBasic.ts
  packages/ssz/src/view/arrayComposite.ts
  packages/ssz/src/viewDU/listComposite.ts
  packages/ssz/src/viewDU/partialListComposite.ts
  packages/ssz/test/lodestarTypes/phase0/sszTypes.ts
  packages/ssz/test/spec/eip-4881/eip4881.test.ts
  packages/ssz/test/spec/eip-4881/test_data.yaml
  packages/ssz/test/unit/byType/partialListComposite/tree.test.ts
  packages/ssz/test/unit/eth2/minMaxSize.test.ts
  packages/ssz/test/unit/snapshot.test.ts
Labels: persistent-merkle-tree, ssz

#408 fix: lerna command for publishing packages
  .github/workflows/cd.yml
Labels: CI

#405 feat: new api to upgrade a tree to new type
  packages/ssz/src/index.ts
  packages/ssz/src/util/upgrade.ts
  packages/ssz/test/unit/byType/container/tree.test.ts
Labels: ssz

#399 chore: release master
  .release-please-manifest.json
  packages/as-sha256/CHANGELOG.md
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: as-sha256, persistent-merkle-tree, ssz, autorelease: pending

#416 fix: update the publish script to use only npm options
  .github/workflows/cd.yml
Labels: CI
