Repository ChainSafe/ssz, pull requests merged in 2024-05, with the labels that each got.

#372 chore: bump node version in GitHub workflows
  .github/workflows/benchmark.yml
  .github/workflows/cd-manual.yml
  .github/workflows/cd.yml
  .github/workflows/test.yml
Labels: CI

#358 chore: release master
  .release-please-manifest.json
  packages/as-sha256/CHANGELOG.md
  packages/as-sha256/package.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: as-sha256, persistent-merkle-tree, ssz, autorelease: pending

#374 chore: migrate down to yarn 1
  .github/workflows/cd.yml
  .github/workflows/test.yml
  .yarn/plugins/@yarnpkg/plugin-engines.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  lerna.json
  package.json
  packages/as-sha256/package.json
  packages/persistent-merkle-tree/package.json
  packages/persistent-ts/package.json
  packages/simpleserialize.com/package.json
  packages/ssz/package.json
  yarn.lock
Labels: as-sha256, persistent-merkle-tree, ssz, persistent-ts, simpleserialize.com, CI

#367 feat: SIMD implementation for as-sha256
  packages/as-sha256/assembly/index.ts
  packages/as-sha256/assembly/simd.ts
  packages/as-sha256/assembly/utils/const.ts
  packages/as-sha256/assembly/utils/v128.ts
  packages/as-sha256/build/optimized.wasm
  packages/as-sha256/build/optimized.wat
  packages/as-sha256/build/untouched.wasm
  packages/as-sha256/build/untouched.wat
  packages/as-sha256/package.json
  packages/as-sha256/src/index.ts
  packages/as-sha256/src/wasm.ts
  packages/as-sha256/src/wasmCode.ts
  packages/as-sha256/test/perf/simd.test.ts
  packages/as-sha256/test/unit/simd.test.ts
Labels: as-sha256

#371 fix: findDiffDepthi to support more than 31 bytes
  packages/persistent-merkle-tree/src/tree.ts
  packages/persistent-merkle-tree/test/unit/tree.test.ts
Labels: persistent-merkle-tree
