Repository ChainSafe/ssz, pull requests merged in 2024-08, with the labels that each got.

#391 feat: use allocUnsafe to allocate hash digests
  packages/as-sha256/src/alloc.ts
  packages/as-sha256/src/index.ts
Labels: as-sha256

#389 feat: implement HashComputationLevel using LinkedList
  packages/persistent-merkle-tree/src/hashComputation.ts
  packages/persistent-merkle-tree/src/hasher/as-sha256.ts
  packages/persistent-merkle-tree/src/hasher/hashtree.ts
  packages/persistent-merkle-tree/src/hasher/index.ts
  packages/persistent-merkle-tree/src/hasher/types.ts
  packages/persistent-merkle-tree/src/index.ts
  packages/persistent-merkle-tree/src/node.ts
  packages/persistent-merkle-tree/src/subtree.ts
  packages/persistent-merkle-tree/src/tree.ts
  packages/persistent-merkle-tree/test/perf/hashComputation.test.ts
  packages/persistent-merkle-tree/test/perf/hasher.test.ts
  packages/persistent-merkle-tree/test/perf/node.test.ts
  packages/persistent-merkle-tree/test/perf/validators.test.ts
  packages/persistent-merkle-tree/test/unit/batchHash.test.ts
  packages/persistent-merkle-tree/test/unit/hashComputation.test.ts
  packages/persistent-merkle-tree/test/unit/hasher.test.ts
  packages/persistent-merkle-tree/test/unit/node.test.ts
  packages/persistent-merkle-tree/test/unit/subtree.test.ts
  packages/persistent-merkle-tree/test/unit/tree.test.ts
  packages/persistent-merkle-tree/test/utils/batchHash.ts
  setHasher.mjs
Labels: persistent-merkle-tree

#375 chore: release master
  .release-please-manifest.json
  packages/as-sha256/CHANGELOG.md
  packages/as-sha256/package.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: as-sha256, persistent-merkle-tree, ssz, autorelease: pending

#393 fix: do not change hashTreeRoot()
  packages/ssz/src/branchNodeStruct.ts
  packages/ssz/src/type/containerNodeStruct.ts
  packages/ssz/src/view/containerNodeStruct.ts
  packages/ssz/test/lodestarTypes/phase0/viewDU/listValidator.ts
  packages/ssz/test/perf/eth2/beaconState.test.ts
Labels: ssz

#394 fix: sliceFrom api
  packages/ssz/src/viewDU/listComposite.ts
  packages/ssz/test/unit/byType/listComposite/tree.test.ts
Labels: ssz

#395 chore: release master
  .release-please-manifest.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: ssz, autorelease: pending

#397 fix: handle unmodified validators
  packages/ssz/test/lodestarTypes/phase0/viewDU/listValidator.ts
  packages/ssz/test/perf/eth2/beaconState.test.ts
Labels: ssz
