Repository ChainSafe/ssz, pull requests merged in 2024-11, with the labels that each got.

#420 feat: merkleize block array
  packages/persistent-merkle-tree/src/hasher/as-sha256.ts
  packages/persistent-merkle-tree/src/hasher/hashtree.ts
  packages/persistent-merkle-tree/src/hasher/index.ts
  packages/persistent-merkle-tree/src/hasher/noble.ts
  packages/persistent-merkle-tree/src/hasher/types.ts
  packages/persistent-merkle-tree/src/hasher/util.ts
  packages/persistent-merkle-tree/test/unit/hasher.test.ts
  packages/ssz/src/type/arrayComposite.ts
  packages/ssz/src/type/bitArray.ts
  packages/ssz/src/type/bitList.ts
  packages/ssz/src/type/byteArray.ts
  packages/ssz/src/type/byteList.ts
  packages/ssz/src/type/container.ts
  packages/ssz/src/type/listBasic.ts
  packages/ssz/src/type/listComposite.ts
  packages/ssz/src/type/optional.ts
  packages/ssz/src/type/profile.ts
  packages/ssz/src/type/stableContainer.ts
  packages/ssz/src/type/union.ts
  packages/ssz/src/type/vectorBasic.ts
  packages/ssz/src/type/vectorComposite.ts
  packages/ssz/test/perf/merkleize.test.ts
  packages/ssz/test/unit/byType/byteList/value.test.ts
  packages/ssz/test/unit/byType/container/tree.test.ts
  packages/ssz/test/unit/byType/listComposite/tree.test.ts
  packages/ssz/test/unit/merkleize.test.ts
Labels: persistent-merkle-tree, ssz

#421 feat: implement merkleizeBlockArray
  packages/persistent-merkle-tree/src/hasher/as-sha256.ts
  packages/persistent-merkle-tree/src/hasher/hashtree.ts
  packages/persistent-merkle-tree/src/hasher/index.ts
  packages/persistent-merkle-tree/src/hasher/noble.ts
  packages/persistent-merkle-tree/src/hasher/types.ts
  packages/persistent-merkle-tree/src/hasher/util.ts
  packages/persistent-merkle-tree/test/unit/hasher.test.ts
Labels: persistent-merkle-tree

#418 feat: add electra to simpleserialize.com
  packages/simpleserialize.com/package.json
  packages/simpleserialize.com/src/util/types.ts
  yarn.lock
Labels: simpleserialize.com
