Repository ChainSafe/ssz, pull requests merged in 2024-03, with the labels that each got.

#349 feat: add capability to cache merkle roots for lists
  packages/ssz/src/index.ts
  packages/ssz/src/type/array.ts
  packages/ssz/src/type/composite.ts
  packages/ssz/src/type/listBasic.ts
  packages/ssz/src/type/listComposite.ts
  packages/ssz/src/util/merkleize.ts
Labels: ssz

#350 feat: improve ViewDU.serialize()
  packages/ssz/src/index.ts
  packages/ssz/src/type/arrayBasic.ts
  packages/ssz/src/type/arrayComposite.ts
  packages/ssz/src/type/container.ts
  packages/ssz/src/view/container.ts
  packages/ssz/src/viewDU/abstract.ts
  packages/ssz/src/viewDU/arrayComposite.ts
  packages/ssz/src/viewDU/container.ts
  packages/ssz/src/viewDU/listBasic.ts
  packages/ssz/src/viewDU/listComposite.ts
  packages/ssz/test/spec/runValidTest.ts
  packages/ssz/test/unit/byType/container/tree.test.ts
Labels: ssz

#352 feat: new type for list of uint64
  packages/persistent-merkle-tree/src/packedNode.ts
  packages/persistent-merkle-tree/test/unit/packedNode.test.ts
  packages/ssz/src/type/listUintNum64.ts
  packages/ssz/test/lodestarTypes/phase0/sszTypes.ts
  packages/ssz/test/unit/byType/listBasic/tree.test.ts
Labels: persistent-merkle-tree, ssz

#353 fix: export ListUintNum64Type
  packages/persistent-merkle-tree/README.md
  packages/ssz/src/index.ts
Labels: persistent-merkle-tree, ssz

#354 chore: release master
  .release-please-manifest.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: persistent-merkle-tree, ssz, autorelease: pending

#348 fix: migrate to the latest assemblyscript
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
  package.json
  packages/as-sha256/as-pect.config.js
  packages/as-sha256/build/optimized.wasm
  packages/as-sha256/build/optimized.wat
  packages/as-sha256/build/untouched.wasm
  packages/as-sha256/build/untouched.wat
  packages/as-sha256/package.json
  packages/as-sha256/src/wasmCode.ts
  packages/as-sha256/test/perf/index.test.ts
  yarn.lock
Labels: as-sha256, CI
