Repository ChainSafe/ssz, pull requests merged in 2025-03, with the labels that each got.

#469 feat: forEach() api for ArrayComposite()
  packages/ssz/src/view/arrayBasic.ts
  packages/ssz/src/view/arrayComposite.ts
  packages/ssz/src/viewDU/arrayBasic.ts
  packages/ssz/src/viewDU/arrayComposite.ts
  packages/ssz/test/unit/byType/listComposite/tree.test.ts
Labels: ssz

#470 fix: do not rebind node if unchanged child ViewDUs
  packages/ssz/src/viewDU/arrayComposite.ts
  packages/ssz/src/viewDU/container.ts
  packages/ssz/test/unit/unchangedViewDUs.test.ts
Labels: ssz

#466 chore: release master
  .release-please-manifest.json
  packages/as-sha256/CHANGELOG.md
  packages/as-sha256/package.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: as-sha256, persistent-merkle-tree, ssz, autorelease: pending

#472 feat: get list composite by range
  packages/ssz/src/viewDU/arrayComposite.ts
  packages/ssz/test/unit/byType/listComposite/tree.test.ts
Labels: ssz

#471 feat: model ListValidator ssz type
  packages/ssz/src/index.ts
  packages/ssz/test/lodestarTypes/phase0/listValidator.ts
  packages/ssz/test/lodestarTypes/phase0/sszTypes.ts
  packages/ssz/test/lodestarTypes/phase0/validator.ts
  packages/ssz/test/lodestarTypes/phase0/viewDU/listValidator.ts
  packages/ssz/test/perf/eth2/beaconState.test.ts
  packages/ssz/test/perf/eth2/hashTreeRoot.test.ts
  packages/ssz/test/perf/eth2/validators.test.ts
  packages/ssz/test/unit/lodestarTypes/phase0/listValidator.test.ts
  packages/ssz/test/unit/lodestarTypes/phase0/validator.test.ts
  packages/ssz/test/unit/merkleize.test.ts
Labels: ssz

#473 feat: get list composite by range (#472)
  packages/ssz/src/viewDU/arrayComposite.ts
  packages/ssz/test/unit/byType/listComposite/tree.test.ts
Labels: ssz

#474 chore: release master
  .release-please-manifest.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: ssz, autorelease: pending

#478 chore: fix all react files for linting rules
  biome.jsonc
  packages/simpleserialize.com/src/App.tsx
  packages/simpleserialize.com/src/components/Header.tsx
  packages/simpleserialize.com/src/components/Input.tsx
  packages/simpleserialize.com/src/components/Output.tsx
  packages/simpleserialize.com/src/components/Serialize.tsx
  packages/simpleserialize.com/src/components/TreeView.tsx
  packages/simpleserialize.com/src/index.tsx
Labels: simpleserialize.com
