Repository ChainSafe/ssz, pull requests merged in 2025-01, with the labels that each got.

#436 chore: release master
  .release-please-manifest.json
  packages/as-sha256/CHANGELOG.md
  packages/as-sha256/package.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: as-sha256, persistent-merkle-tree, ssz, autorelease: pending

#438 fix: publish nested package.json files in the lib
  packages/persistent-ts/package.json
  packages/ssz/package.json
Labels: ssz, persistent-ts

#429 fix: update the benchmark dependencies
  .benchrc.yaml
  .eslintrc.cjs
  package.json
  packages/as-sha256/package.json
  packages/as-sha256/test/perf/index.test.ts
  packages/as-sha256/test/perf/simd.test.ts
  packages/persistent-merkle-tree/test/perf/gindex.test.ts
  packages/persistent-merkle-tree/test/perf/hashComputation.test.ts
  packages/persistent-merkle-tree/test/perf/hasher.test.ts
  packages/persistent-merkle-tree/test/perf/node.test.ts
  packages/persistent-merkle-tree/test/perf/proof.test.ts
  packages/persistent-merkle-tree/test/perf/subtree.test.ts
  packages/persistent-merkle-tree/test/perf/tree.test.ts
  packages/persistent-merkle-tree/test/perf/tree/depthSmall.test.ts
  packages/persistent-merkle-tree/test/perf/tree/getNodes.test.ts
  packages/persistent-merkle-tree/test/perf/tree/setNodes.test.ts
  packages/persistent-merkle-tree/test/perf/treeDepth.test.ts
  packages/persistent-merkle-tree/test/perf/validators.test.ts
  packages/persistent-ts/.eslintrc.cjs
  packages/persistent-ts/package.json
  packages/persistent-ts/test/perf/Vector.test.ts
  packages/ssz/package.json
  packages/ssz/test/perf/bitlist.test.ts
  packages/ssz/test/perf/byType/listBasic.test.ts
  packages/ssz/test/perf/byType/listComposite.test.ts
  packages/ssz/test/perf/bytelist.test.ts
  packages/ssz/test/perf/cacheMutableRootStruct.test.ts
  packages/ssz/test/perf/epochStatuses.test.ts
  packages/ssz/test/perf/eth2/beaconState.test.ts
  packages/ssz/test/perf/eth2/deserialize.test.ts
  packages/ssz/test/perf/eth2/hashTreeRoot.test.ts
  packages/ssz/test/perf/eth2/validators.test.ts
  packages/ssz/test/perf/iterate.test.ts
  packages/ssz/test/perf/list.test.ts
  packages/ssz/test/perf/merkleize.test.ts
  packages/ssz/test/perf/misc/math_floor.test.ts
  packages/ssz/test/perf/misc/switch_if_cost.test.ts
  packages/ssz/test/perf/propertyGet.test.ts
  packages/ssz/test/perf/proxy.test.ts
  packages/ssz/test/perf/serdes.test.ts
  packages/ssz/test/perf/stateTransitionOps/processAttestations.test.ts
  packages/ssz/test/perf/tree.test.ts
  packages/ssz/test/perf/uint.test.ts
  packages/ssz/test/perf/uintFromBytes.test.ts
  packages/ssz/test/spec/runValidTest.ts
  yarn.lock
Labels: as-sha256, persistent-merkle-tree, ssz, persistent-ts

#442 chore: release master
  .release-please-manifest.json
  packages/as-sha256/CHANGELOG.md
  packages/as-sha256/package.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/persistent-ts/CHANGELOG.md
  packages/persistent-ts/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: as-sha256, persistent-merkle-tree, ssz, persistent-ts

#444 chore: revert invalid release commit and create valid commit triggers
  .release-please-manifest.json
  packages/as-sha256/CHANGELOG.md
  packages/as-sha256/package.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/persistent-ts/CHANGELOG.md
  packages/persistent-ts/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: as-sha256, persistent-merkle-tree, ssz, persistent-ts

#447 chore: release master
  .release-please-manifest.json
  packages/as-sha256/CHANGELOG.md
  packages/as-sha256/package.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/persistent-ts/CHANGELOG.md
  packages/persistent-ts/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: as-sha256, persistent-merkle-tree, ssz, persistent-ts, autorelease: pending

#448 chore: update CD publish step to add token to .npmrc
  .github/workflows/release.yml
Labels: CI

#453 chore: release master
  .release-please-manifest.json
  packages/as-sha256/CHANGELOG.md
  packages/as-sha256/package.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/persistent-ts/CHANGELOG.md
  packages/persistent-ts/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: as-sha256, persistent-merkle-tree, ssz, persistent-ts, autorelease: pending

#455 fix(as-sha256, persistent-ts): update workflow to revise publish process
  .github/workflows/release.yml
Labels: CI

#459 feat!: use named exports to expose different hashers
  packages/persistent-merkle-tree/package.json
  setHasher.mjs
Labels: meta-breaking-change, persistent-merkle-tree

#458 chore: release master
  .release-please-manifest.json
  packages/as-sha256/CHANGELOG.md
  packages/as-sha256/package.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/persistent-ts/CHANGELOG.md
  packages/persistent-ts/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: as-sha256, persistent-merkle-tree, ssz, persistent-ts, autorelease: pending

#460 fix: correctly export hashers from persistent-merkle-tree
  packages/persistent-merkle-tree/chainsafe-persistent-merkle-tree-1.0.0.tgz
  packages/persistent-merkle-tree/package.json
  setHasher.mjs
Labels: persistent-merkle-tree

#462 chore: ignore binary tarballs in git
  .gitignore
  packages/persistent-merkle-tree/chainsafe-persistent-merkle-tree-1.0.0.tgz
Labels: persistent-merkle-tree

#461 chore: release master
  .release-please-manifest.json
  packages/persistent-merkle-tree/CHANGELOG.md
  packages/persistent-merkle-tree/package.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: persistent-merkle-tree, ssz, autorelease: pending

#463 fix: update npm publish step
  .github/workflows/release.yml
Labels: CI

#456 fix: ListCompositeTreeViewDU to getAllReadonly() without commit
  packages/ssz/src/viewDU/arrayComposite.ts
  packages/ssz/test/unit/byType/listComposite/tree.test.ts
Labels: ssz

#464 chore: release master
  .release-please-manifest.json
  packages/ssz/CHANGELOG.md
  packages/ssz/package.json
Labels: ssz, autorelease: pending
